/* PC */
@media (min-width: 1024px) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #content .content-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    #size-send {
        font-size: 18px;
    }


}

/* Tablet & Mobile */
@media (max-width: 1023px) {
    #content .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 12px;
    }

    #nav .subnav > li {
        padding: 5px 12px;
    }

    .contact-info {
        line-height: 2.0;
    }

    #footer .social-list a {
        font-size: 48px;
        margin: 0 8px;
    }

    #footer > p > a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .s-full-width,
    .s-col-full {
        width: 100%;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #header .search-btn {
        display: none;
    }
    
    #nav {
        display: block;
    }

    #nav li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: gray;
    }

    #nav .subnav > li {
        border-bottom: 1px solid black ;
    }

    #nav .subnav a {
        color: black;
        padding: 14px 41px;
        line-height: 42px;
    }

    #content .content-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    #content .member-img {
        width: 70%;
    }

    .contact-form {
        margin-top: 32px;
    }

}   